*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}




.navblock{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
   
   
}

.img-logo img{
    width: 40px;
}



.content{
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    position: relative;
    margin-top: 10%;
}

#calendar{
    width: 80%;
}

