@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: #f1f5f9;
}

a{
    text-decoration: none;
}

.bg-gradient{
    background: linear-gradient(135deg,#326e96,#7e14a9);
}

.login-card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    background: #fff;
    border-radius: 10px;
}

.login-card h1{
    text-align: center;
    padding:  20px 0;
}
.login-card form{
    padding: 0 40px;
}
form .txt-field{
    position: relative;
    margin: 30px 0 ;
}
.txt-field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.txt-field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #5f6368;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .2s;
}
.txt-field span::before{
    content: "";
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #dbdce0 ;
    transition: .5s;
}

.txt-field input:focus ~ label,
.txt-field input:valid ~ label{
    top: -5px;
    color: #2691d9;
}

.forgotPassword{
    color: #a6a6a6;
    cursor: pointer;
}
.pass:hover{
    text-decoration: underline;
}
input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    margin-top: 30px;
}
input[type="submit"]:hover{
    border-color: #2691d9;
    transition: .5s;
}
.signup-link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}
.signup-link a{
    color: #2691d9;
    text-decoration: none;
}
.signup-link a:hover{
    text-decoration: underline;
}

/* Bar de nvig */
.navbar{
    padding: 20px;
    margin-bottom: 86px;
}

.nav-menu{
    display: flex;
    align-items: center;
}
.title-block{
    text-align: center;
    margin-bottom: 30px;
    
 }

.navblock{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.img-logo img{
    width: 40px;
}

.line{
    display: inline-flex;
    margin-left: 40px;
}

.line a{
    text-decoration: none;
    color: black;
}

.line a:hover{
    color: crimson;
}

.line li{
    list-style: none;
    margin-right: 20px;
}
.btn-block{
    display: inline-block;
    text-decoration: none;
    color: #dbdce0;
    background-color: black;
    margin-right: 20px;
    padding: 8px 22px ;
    border-radius: 10px;
}
.btn-link-calendar{
    text-align: center;
}

.btn{
    border: none;
    padding: 10px 25px;
    background-color: crimson;
    border-radius: 50px;
    color: white;
    font-size: 17px;
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(211, 75, 102);
}

.part-princip{
    margin-top: 100px;
    padding: 0 50px;
}

.part-princip h2{
    margin-bottom: 40px;
    text-align: center;
}

.spel{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.spel-card{
    background-color: #fff;
    transition: all .1s;
    margin-right: 20px;
}

.spel-card:hover{
    transform: scale(1.04);
}

.spel-card:hover .desc{
    color: crimson !important;
}


.spel-card img{
    width: 260px;
}

.spel-card .desc{
    padding:  10px 20px 20px;
    font-size: 14px;
    color: rgb(111, 112, 112);
}

/* Planning */
.content{
    margin-top: 30px;
    position: relative;  
    margin-bottom: 30px;  
}

#calendar {
    max-width: 1200px;
}